/* tcm - project's prefix*/

.tc-editor {
  padding: 10px;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  left: -10px;
},
.mmxParameterDecsTitle {
  color:#f00;
}
.mmxParameterDesc {
  color:#7B7B7B;
}