/* tcm - project's prefix*/

.tc-editor {
  padding: 10px;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  left: -10px;
},
.mmxModelDecsTitle {
  color:#f00;
}
.mmxModelDesc {
  color:#7B7B7B;
}

.mmxReadOnlyTableVisible {
  display: block;
}

.mmxReadOnlyTableInvisible {
  display: none;
}